version=0.12
profile = compact
break-cases=all
break-separators=before
sequence-style = separator
parse-docstrings = true
dock-collection-brackets=false
wrap-fun-args = false
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
break-sequences=true
cases-exp-indent=2
break-infix=fit-or-vertical
