profile=compact
break-cases=all
break-infix=fit-or-vertical
field-space=loose
margin=79
parens-tuple=always
sequence-style=terminator
type-decl=sparse
cases-exp-indent=2
break-before-in=fit-or-vertical
parse-docstrings=true
